[Desktop Entry]
Name=LGML
Exec=LGML
Icon=LGML
Type=Application
Categories=AudioVideo;Art;
Comment=Artist friendly Modular Machine for Art and Technology
Comment[fr]=Machine modulaire pour l'art et la technologie, adaptée aux artistes
MimeType=text/LGML;
Name[en]=LGML
Terminal=false
StartupNotify=true
NoDisplay=false
Name[en_US]=LGML.desktop
